

.app-header{ /*Indica que todas essas classes/el precisam ser filho de app-header pelo scss*/
  .spacer {
      flex: 1 1 auto;
    }
    
    .mat-toolbar{
      background-color: black;
      color: white;
      padding: 0 256px;
      .links-toolbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    img{
      cursor: pointer;
    }
     
    .mat-mdc-outlined-button:not(:disabled){ /*Botões que NÃO estejam desabilitados*/
      border-color: #79747E;
    }
      
    button{
      margin: 0 16px;
    }
  }

  /* Pelo css seria assim
  .app-header button{
    margin: 0 16px;
  }
  */