
button {
    img{
        vertical-align: middle;
    //display: flex;
    //align-items: center;
    }
}

.incrementar{
    
    background-color:#E8DEF8;
}

.decrementar{
    background-color:#1D1B201F;
}