<app-banner 
    src="./assets/imagens/banner-homepage.png" 
    alt="Banner da Aplicação Jornada">
</app-banner>
<app-container>
    <app-form-busca></app-form-busca>
    <h2>Promoções</h2>
    <app-promocoes></app-promocoes>
    <!--<div class="card-wrapper">
        <app-card-busca *ngFor="let promocao of promocoes" 
        src ={{promocao.imagem}} 
        alt="Imagem de {{promocao.destino}}" price={{promocao.preco}}>{{promocao.preco}}</app-card-busca>
        <app-card-busca src="./assets/imagens/Veneza.png" alt="Imagem de Veneza" price=500 name="Veneza"></app-card-busca>
        <app-card-busca src="./assets/imagens/Veneza.png" alt="Imagem de Veneza" price=500 name="Veneza"></app-card-busca>
        <app-card-busca src="./assets/imagens/Veneza.png" alt="Imagem de Veneza" price=500 name="Veneza"></app-card-busca>
        <app-card-busca src="./assets/imagens/Veneza.png" alt="Imagem de Veneza" price=500 name="Veneza"></app-card-busca>
        <app-card-busca src="./assets/imagens/Veneza.png" alt="Imagem de Veneza" price=500 name="Veneza"></app-card-busca>
        <app-card-busca src="./assets/imagens/Veneza.png" alt="Imagem de Veneza" price=500 name="Veneza"></app-card-busca>
    </div>-->
    <h2>Depoimentos</h2>
    <app-depoimentos></app-depoimentos>
    <!--<div class="card-wrapper">
        <app-card-depoimento *ngFor="let depoimento of depoimentos" 
            src = {{depoimento.avatar}}
            alt = "Avatar da pessoa autora do depoimento"
            depoimento={{depoimento.texto}}
            autoria={{depoimento.autor}}
        ></app-card-depoimento>-->
        
        <!--<app-card-depoimento
        src="./assets/imagens/avatar1.png" 
        alt="Pessoa quem depôs" 
        depoimento="A Jornada foi uma das melhores agências de viagens que eu já experimentei. O serviço ao cliente foi excepcional, e toda a equipe foi muito atenciosa e prestativa."
        autoria="Laura Matos" ></app-card-depoimento>
        <app-card-depoimento
        src="./assets/imagens/avatar2.png" 
        alt="Pessoa quem depôs" 
        depoimento="Recomendo fortemente a agência de viagens Jornada. Eles oferecem um serviço personalizado e de alta qualidade que excedeu minhas expectativas em minha última viagem."
        autoria="Talita Magalhães" ></app-card-depoimento>
        <app-card-depoimento
        src="./assets/imagens/avatar3.png" 
        alt="Pessoa quem depôs" 
        depoimento="Minha viagem com a Jornada foi incrível! Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a partir das nossas necessidades."
        autoria="Mariana Faustino" ></app-card-depoimento>
    </div>-->
</app-container>