<footer class="app-footer">
    <mat-toolbar>
        <section>
            <img src="assets/imagens/logo-com-tagline.png" alt="Logo com tagline">
            <div>
                <span>Horário de atendimento: 08h - 20h (Segunda a Sábado)</span>
                <span>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</span>
            </div>
        </section>
        <span class="spacer"></span>
        <section>
            <span>Acesse nossas redes:</span>
            <nav>
                <a mat-list-item>
                    <img src="assets/icones/whatsapp.png" alt="Twitter">
                </a>
                <a mat-list-item>
                    <img src="assets/icones/instagram.png" alt="Twitter">
                </a>
                <a mat-list-item>
                    <img src="assets/icones/twitter.png" alt="Twitter">
                </a>
            </nav>
        </section>
    </mat-toolbar>
</footer>